---
pagination:
  data: contentful.pages
  size: 1
  alias: page
  addAllPagesToCollections: true
permalink: "{{ page.slug | slug }}/"
tags: "page"
layout: layout.liquid
eleventyComputed:
  title: "{{ page.title }} | {{ globals.siteName }}"

---

<div class="Container">
  {% for block in page.blocks %}
    {% include "_includes/blocksList" with page %}
  {% endfor %}
</div>