:root {
    /* definitions */
    --font-family-display-serif: nc, "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    --font-family-sans-serif: ak, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-mono: ak-mono, monospace;

    --dark-blue: #0b132b;
    --white: #fcf2ed;
    --cyan: #6fffe9;
    --grey: #616e82;
    --grey-2: #8796a9;
}

:root {
     /* theme colors*/
     --background-color: var(--dark-blue);
     --text-color: var(--white);
     --accent-color: var(--cyan);
     --border-color: var(--grey);

     /* theme type */
     --font-family-base: var(--font-family-sans-serif);
     --font-family-headings: var(--font-family-display-serif); 
}