@import '_variables.css';
@import '_fonts.css';

*,
*:before,
*:after {
  box-sizing: border-box !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    font-family: var(--font-family-base);
    font-size: rfs(16px);
}

a {
    color: var(--accent-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-size: inherit;
  font-weight: inherit;
}

p:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
    border-style: none;
    vertical-align: middle;
}

.Heading {
  font-family: var(--font-family-headings);
  line-height: 1.25;
}

.Heading--sans-serif {
  font-family: var(--font-family-base);
  color: var(--accent-color);
  font-weight: bold;
  margin-bottom: 45px;
}

.Container {
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}

.Monospace {
    font-family: var(--font-family-mono);
    font-size: rfs(14px);
}

.WelcomeText {
    a {
        color: var(--text-color);
        border-bottom: 1px solid var(--border-color);
        text-decoration: none;
        @media (hover: hover) {
            &:hover {
                color: var(--accent-color);
                border-bottom: 1px solid var(--accent-color);
                transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
            }
        }
    }
    p {
        font-size: rfs(45px);
        max-width: 60%;
        font-family: var(--font-family-headings);
        line-height: 1.25;
    }
} 

.Section {
    margin-top: 80px;
    margin-bottom: 80px;
}

@import '_welcome.css';
@import '_project.css';
