<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
  </head>
  <body>
    <ul>
      {% for page in contentful.pages %}
        <li><a href="{{ page.slug | url }}">{{page.title}}</a></li>
      {% endfor %}
    </ul>
    {{content}}
  </body>
</html>